DOCKERHUB_USERNAME=williamwilmer10
DOCKERHUB_TOKEN=coloque_seu_token_aqui
BACKEND_IMAGE=williamwilmer10/agenda-backend
FRONTEND_IMAGE=williamwilmer10/agenda-frontend
VITE_API_URL=https://apiagenda.kesassessoria.com/api
