DOCKERHUB_USERNAME=kesassessoria
DOCKERHUB_TOKEN=coloque_seu_token_aqui
BACKEND_IMAGE=kesassessoria/agenda-backend
FRONTEND_IMAGE=kesassessoria/agenda-frontend
VITE_API_URL=https://apiagenda.kesassessoria.com/api
